body {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 99vw;
  font-family: sans-serif;
}

.board {
  height: 92vh;
  width: 92vh;
  min-width: 92vh;
  padding: 3vh;
}

.scores {
  height: 92vh;
  min-width: 30vh;
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.man {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.king {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.score {
  padding: 0.7vh;
  width: 28.6vh;
}

#player1, #player2 {
  padding: 0.7vh;
}

#player1Colour, #player1Score, #player2Colour, #player2Score {
  padding: 0.5vh;
}

#player1Score, #player2Score {
  font-size: 6vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  font-size: 3vh;
  background-color: saddlebrown;
  color: tan;
  border: 0;
  margin: 1vh;
  padding: 1vh;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

.hint {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#vs {
  padding: 2vh;
}

.personalize {
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

input {
  font-size: 2.5vh;
}

.personalizeInnerSpace {
  background-color: tan;
  height: 94%;
  width: 94%;
}
